<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/w3.css" th:href="@{/css/w3.css}">
<link rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/all.css" th:href="@{/css/all.css}">

</head>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
	integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	crossorigin="anonymous"></script>

<body>

	<div class="container">
		<h1 class="text-secondary" style="margin-top: 50px;">Nuevo
			Cliente</h1>
		<br />
		<form id="form" method="post">
			<table>
				<tr>
					<td>Nombre Consignatario:</td>
					<td><input class="form-control" type="text"
						name='consignatarionombre' id='consignatarionombre' /></td>
				</tr>
				<tr>
					<td>Nombre Cliente:</td><td>
					<select class="js-example-placeholder-single js-states form-control" name="cliente" id="cliente">
						<option th:each="cliente: ${listado}"
							th:value="${cliente.clienteid}"
							th:text="${cliente.clientenombre}"></option>

					</select></td>
				</tr>
				<tr>
					<td><input type="submit" /></td>
				</tr>
			</table>

			<div class="col-sm-1" style="margin: 20px 0px">
				<a class="btn btn-danger" th:text="Regresar" th:href="@{/}"></a>
			</div>

		</form>
	</div>
</body>
<script type="text/javascript">
$(function() {
	
	
	const validate=(form)=>
	{
		let valid=false;
		for(let i=0; i<form.length; i++ )
		  {
		  console.log(i)
		  //Validacion nombre
		  	if(form[i]["name"]=="consignatarionombre")
		  		{
		  			let maxima_longitud_nombre=35;
		  			let minima_longitud_nombre=1;
				  		if( form[i]["value"].length <= maxima_longitud_nombre && form[i]["value"].length>minima_longitud_nombre &&  typeof(form[i]["value"])=="string")
				  	  {
				  			valid =true;
				  	  }
				  		else
				  			{
				  				
				  			  alert(`El nombre debe ser mayor a ${minima_longitud_nombre} y menor a ${maxima_longitud_nombre} caracteres`);
					  		  valid= false;
				  			}
		  		}
		  }
		return valid;
	}
	
	
	$('form').submit(function (evt) {
	    evt.preventDefault();
	    //window.history.back();
		
		  const form=$( this ).serializeArray();
		
		  console.log("formulario",form)
		 
		  if(validate(form))
			  {
				  alert("El formulario es valido");
				  let data={}
				for(let i=0; i<form.length; i++)
					{
						data[form[i]["name"]]=form[i]["value"]
					}
			  
			  
			  $.ajax({

					url : '/guardarConsignatario',
					data : JSON.stringify(data),
					type : 'POST',
					dataType : 'json',
					headers : {
						'Accept' : 'application/json',
						'Content-Type' : 'application/json'
					},
					success : function(data) {
						console.log(data);
					},
					statusCode: {
			            400: function (e) {
			            	alert('Petición no realizada');
			            },
			            200: function (e) {
			            	alert('Consignatario Creado');
			            	window.location.replace("/listadoConsignatarios");
			            }
			        },
					complete : function(xhr, status) {
						console.log('Petición realizada');
						console.log("complete");	
					}
			        
				});
			  
			  }
			
			
			
		  
	});
});



</script>
</html>