<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/w3.css" th:href="@{/css/w3.css}">
<link rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/all.css" th:href="@{/css/all.css}">
</head>
<body>
	<div class="container">
		<div class="row " style="padding-right: 30px; padding-left: 30px;">
			<div class="col-sm-2" style="margin: 20px 0px">
				<a class="btn btn-success" th:text="${'Nuevo Consignatario'}"
					th:href="@{/}"></a>
			</div>
			<div class="col-sm-1" style="margin: 20px 0px">
				<a class="btn btn-danger" th:text="Regresar" th:href="@{/}"></a>
			</div>
		</div>
		<h1 class="text-secondary" style="margin-top: 50px;">Listado de
			Consignatarios</h1>
		<br />
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
					<th scope="col">Handle</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>