<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
<title>Oxxito</title>
<meta charset="UTF-8">
</head>
<body>
	<div id="container"
		class="effect aside-float aside-bright navbar-fixed footer-fixed mainnav-sm">
		<header th:replace="layout/plantilla :: #navbar"></header>
		<div class="boxed">
			<div id="content-container">
				<div class="card" style="top: 10px; left: 10px;">
					<div class="row">
						<div class="panel col-md-12">
							<div class="panel">
								<div class="panel-body">
									<form  method="post">
										<input type="hidden" name="id"/>
										<div class="row">
											<br> <span class="d-block p-3 text-white"
												style="background-color: #726b6b; font-size: 17px; border-radius: 5px;">Registrar Vendedor</span>
											<div align="right" class="col-md-5">
												<br> <label for="name">Nombre(s):
												<span class="text-danger text-lg font-weight-bold">*</span>
												</label>
											</div>
											<div class="col-md-5">
												<br> <input type="text" name="name"
													class="form-control"
													onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
													maxlength="12" required />
											</div>

											<div align="right" class="col-md-5">
												<br> <label for="paternal">Apellido parterno
													<span class="text-danger text-lg font-weight-bold">*</span>
												</label>
											</div>
											<div class="col-md-5">
												<br> <input type="text" name="paternal"
													 class="form-control"
													onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
													maxlength="35" required /> 
											</div>

											<div align="right" class="col-md-5">
												<br> <label for="maternal">Apellido Materno
													<span class="text-danger text-lg font-weight-bold">*</span>
												</label>
											</div>
											<div class="col-md-5">
												<br> <input type="text" name="maternal"
													 class="form-control"
													onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
													maxlength="35" required />
											</div>
											<div align="right" class="col-md-5">
												<br> <label for="email">Correo electrónico
													<span class="text-danger text-lg font-weight-bold">*</span>
												</label>
											</div>
											<div class="col-md-5">
												<br> <input type="text" name="email"
													 class="form-control"
													onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
													maxlength="35" required />
											</div>
											<div align="right" class="col-md-5">
												<br> <label for="password">Contraseña:
													<span class="text-danger text-lg font-weight-bold">*</span>
												</label>
											</div>
											<div class="col-md-5">
												<br> <input type="password" name="password"
													 class="form-control" maxlength="15"
													required />
											</div>
											<div align="right" class="col-md-5">
												<br> <label for="password">Cornfirmar Contraseña:
													<span class="text-danger text-lg font-weight-bold">*</span>
												</label>
											</div>
											<div class="col-md-5">
												<br> <input type="password" name="password"
													 class="form-control" maxlength="15"
													required />
											</div>
											<div align="right" class="col-md-5">
												<br> <label for="phonenumber">Teléfono:
													<span class="text-danger text-lg font-weight-bold">*</span>
												</label>
											</div>
											<div class="col-md-5">
												<br> <input type="text" name="phonenumber"
													 class="form-control"
													onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
													maxlength="35" required />
											</div>
											<div>
												<br>
												<hr>
											</div>
										</div>

										<div>
											<br> <input class="btn btn"
												style="background-color: #726b6b; color: white;"
												type="submit" name="guardar" th:value="Guardar"/>
											<a class="btn btn-outline-primary">Regresar</a>
										</div>
										<br>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav th:replace="layout/plantilla :: #mainnav-container"></nav>
			<th:block th:include="layout/plantilla :: #mainnav-profile"></th:block>
		</div>
	</div>
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>