<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
<title>Oxxito</title>
<meta charset="UTF-8">
</head>
<body>
	<header id="navbar">
		<div id="navbar-container" class="boxed">
			<div class="navbar-content" style="margin-left: 0px">
				<ul class="nav navbar-top-links">
					<li><a>
							<h4 class="text-white">Tienda Oxxito</h4>
					</a></li>
				</ul>
				<div align="right">
					<div class="nav navbar-top-links"
						style="width: 15%; margin-top: 11Px; background-color: #ffffff00;">
						<a class="w3-button w3-block text-white" style="font-size: 20px;">
							<b>Quiero Registrarme</b>
						</a>
					</div>
				</div>
				<ul class="nav navbar-top-links"></ul>
			</div>
		</div>
	</header>
	<div id="container">
		<div class="cls-container">
			<div class="cls-content">
				<div class="cls-content-sm panel">
					<div class="media-body text-bold text-main">
						<img width="100%" src="/imagen/Logo.png">
					</div>
				</div>
				<div class="cls-content panel" style="width:80%;position: absolute;left: 10%;">
					<div class="media pad-top bord-top"></div>
					<div class="row">
						<div class="col-6">
							<div class="mx-auto testimonial-item mb-5 mb-lg-0">
								<img class="rounded-circle img-fluid mb-3"
									src="/imagen/customer-icon.png" width="300" height="400">
								<a class="btn btn-sacmex btn-lg btn-block text-white"
									style="background-color: #163f74e0; font-size: 18px; border-radius: 5px;">Soy
									Cliente</a>
							</div>
						</div>
						<div class="col-6">
							<div class="mx-auto testimonial-item mb-5 mb-lg-0">
								<img class="rounded-circle img-fluid mb-3"
									src="/imagen/salesman-icon.jpg" width="300" height="289.58">
								<a class="btn btn-sacmex btn-lg btn-block text-white"
									style="background-color: #163f74e0; font-size: 18px; border-radius: 5px;">Soy
									Vendedor</a>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
</body>
</html>