<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Home</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/w3.css" th:href="@{/css/w3.css}">
<link rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/all.css" th:href="@{/css/all.css}">
</head>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
	integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	crossorigin="anonymous"></script>

<body>
	<div class="panel">
		<div style="text-align: center">
			<br>
			 <h3>Sistema de clientes y Consignatarios</h3>
			<h5 id="date" style="color: red;"></h5>
			<br>
		</div>
		<div class="row " style="padding-right: 30px; padding-left: 30px;">

			<div class="col-sm-1" style="margin: 20px 0px">
				<a class="btn btn-primary" th:text="Clientes"
					th:href="@{listadoClientes}"></a>
			</div>
			<div class="col-sm-1" style="margin: 20px 0px">
				<a class="btn btn-primary" th:text="Consignatarios"
					th:href="@{listadoConsignatarios}"></a>
			</div>
		</div>
	</div>

</body>
</html>
