<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
    </head>
    <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
  <script>
  $.ajax({
	 
	    url : '/guardarCliente',
	    data : '{ "clientenombre" : 1 }',
	    type : 'POST',
	    dataType : 'json',
	    headers: { 
	        'Accept': 'application/json',
	        'Content-Type': 'application/json' 
	    },
	    success : function(data) {
	        console.log(data);
	    },
	    error : function(xhr, status) {
	        alert('Disculpe, existió un problemaJH');
	        console.log("error");
	    },
	    complete : function(xhr, status) {
	        alert('Petición realizada');
	        console.log("complete");
	    }
	});
  </script>
    <body>

   <p th:text="${mensaje}"></p>
   <p th:text="${saludo}"></p>
   <p th:text="${cliente.clientenombre}"></p>
  <!-- <section th:replace="layout/listadoClientes :: listadoClientes"></section> --> 
  
  
    </body>
</html>
